/*CSS Accueil*/

@keyframes scale-in-center {
        0% {
                -webkit-transform: scale(0);
                transform: scale(0);
                opacity: 0;
        }
        50% {
                -webkit-transform: scale(0.5);
                transform: scale(0.5);
                opacity: 0.5;
        }
        100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1;
        }
}

@keyframes roll-in-left {
        0% {
                -webkit-transform: translateX(-800px);
                transform: translateX(-800px);
                opacity: 0;
        }
        50% {
                transform: skew(1deg, -1deg);
                opacity: 0.5;
        }
        75% {
                transform: skew(-1deg, 1deg);
                opacity: 0.8;
        }
        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
        }
}

@keyframes roll-in-right {
        0% {
                -webkit-transform: translateX(800px);
                transform: translateX(800px);
                opacity: 0;
        }
        50% {
                transform: skew(1deg, -1deg);
                opacity: 0.5;
        }
        75% {
                transform: skew(-1deg, 1deg);
                opacity: 0.8;
        }
        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
        }
}

@font-face {
        font-family: 'eb_garamond_sc12_regular';
        src: url('Fonts/ebgaramond/ebgaramondsc12-regular-webfont.woff2') format('woff2'), url('Fonts/ebgaramond/ebgaramondsc12-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

::-webkit-scrollbar {
        display: none;
}

* {
        color: #EEEEEE;
        font-family: 'eb_garamond_sc12_regular', sans-serif;
        box-sizing: border-box;
}

h1, h2, h3 {
        font-family: 'Roboto', sans-serif;
}

a {
        text-decoration: none;
        list-style-type: none;
}

::before, ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body {
        background-color: #1e3942;
        margin: 0;
        padding: 0;
        line-height: 1.25;
        /* height: 100%;  */
        /* overflow: hidden; */
}

.containers {
        width: 100%;
        height: 100%;
        /* overflow-y: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory; */
}

section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        padding: 30px;
}

section#home {
        position: relative;
        background-image: url("images/splash.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 4;
        background-attachment: fixed;
}

section#gallerie {
        background-image: linear-gradient(27deg, rgba(13, 2, 0, 0.8603816526610644) 0%, rgba(2, 2, 2, 0.7343312324929971) 43%), url('Photos/Bateau_Amorgos.jpg');
        background-position: top;
        background-size: cover;
        background-attachment: fixed;
        z-index: 3;
}

section#blog {
        background-image: linear-gradient(27deg, rgba(13, 2, 0, 0.8603816526610644) 0%, rgba(2, 2, 2, 0.7343312324929971) 43%), url('Photos/Couché_soleil_milos.jpg');
        background-position: top;
        background-size: cover;
        background-attachment: fixed;
        z-index: 2;
}

section#contact {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: linear-gradient(27deg, rgba(13, 2, 0, 0.8603816526610644) 0%, rgba(2, 2, 2, 0.7343312324929971) 43%), url('Photos/Gorges_verdon_feuillage.jpg');
        background-position: top;
        background-size: cover;
        background-attachment: fixed;
        z-index: 1;
}

.menu a {
        font-family: 'Alumni sans', sans-serif;
        text-decoration: none;
        color: #EEEEEE;
        padding: 0;
        line-height: 22px;
        font-weight: 500;
        font-size: 2em;
        padding-right: 15px;
}

.menu {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 999;
        margin: 0px;
        padding: 20px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.menu ul {
        display: flex;
        align-items: center;
        text-decoration: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
}

.home img {
        width: 35px;
        height: auto;
}

.carousel-caption h1 {
        font-size: 1.5rem;
}

.underline {
        position: relative;
        display: inline-block;
}

.underline::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 85%;
        height: 2px;
        background-color: #EEEEEE;
        transform-origin: bottom;
        transition: transform 0.25s ease-out;
        transform: scaleX(0);
        border-radius: 20px;
}

.underline:hover:after {
        transform: scaleX(1);
        transform-origin: bottom;
}

.accueil {
        min-height: calc(100vh - 130px);
        width: 100%;
        padding: 6rem 0 0 4rem;
        display: grid;
        align-items: start;
        grid-auto-rows: auto;
        grid-auto-columns: 4rem;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4rem 0;
        color: #fff;
        text-shadow: 0 0 2em rgb(0 0 0 / 25%);
        position: relative;
        overflow: hidden;
}

.titre_accueil {
        align-self: flex-start;
}

span {
        /* transition: all 0.5s ease-in;*/
}

span.fades {
        color: #EEEEEE;
        font-family: 'Alumni Sans', sans-serif;
        font-weight: 700;
        font-size: 5rem;
        letter-spacing: 0.5rem;
}

.titre_accueil h3 {
        font-family: 'Alumni sans', sans-serif;
}

span.fades:hover {
        transform: scale(1.1);
        cursor: pointer;
}

.footer {
        position: fixed;
        z-index: 999;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: right;
        padding: 15px;
        transition: transform .2s;
}

.reseaux p {
        font-family: 'Alumni sans', sans-serif;
        font-size: 1.3rem;
        font-weight: 550;
        padding-right: 5px;
}

/* CSS Page Blog*/

/*animation bloc de la page Blog*/

.illust_photo img {
        width: 300px;
        height: 200px;
        border-radius: 50px;
        transition: transform 0.5s ease-in-out
}

.illust_photo:hover img {
        transform: scale(0.8);
}

.passion_photo {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        /* padding: 30px;*/
}

.passion_peche {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        /*padding: 30px;*/
}

.passion_jeux {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        /*padding: 30px;*/
}

.text_photo, .text_peche, .text_jeux {
        width: 60%;
        letter-spacing: 0.05rem;
}

/*fin anim bloc de la page blog*/

/*CSS Gallerie*/

.carousel-control-prev {
        opacity: 1;
}

.carousel-control-next {
        opacity: 1;
}

.sr-only {
        color: #EEEEEE;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 1.7rem;
}

/* CSS Contact */

form {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0 0;
}

.form_identite {
        margin-top: 10px;
        width: 60%;
}

.input_name {
        font-family: eb_garamond_sc12_regular;
        width: 100%;
        background: transparent;
        transition: all 0.4s;
        border: 0;
        border-bottom: 2px solid gray;
        font-size: 1.3em;
        padding: 7px 0;
        outline: 0;
}

.input_name::placeholder {
        color: transparent;
}

.label_name {
        font-family: eb_garamond_sc12_regular;
        font-size: 1.5em;
        color: gray;
}

.check_name {
        color: #EEEEEE;
        font-size: 1.2rem;
        font-weight: lighter;
}

.input_name:focus {
        border-image: linear-gradient(to right, #159957, #155799);
        border-width: 3px;
        border-image-slice: 1;
        font-weight: 500;
}

.checkbox {
        padding-top: 20px;
}

.message {
        padding-top: 20px;
}

.zone_texte {
        border-radius: 10px;
        background: transparent;
        border: 2px solid gray;
        width: 100%;
        transition: all 0.4s;
}

.zone_texte:focus {
        border: 0;
        border-image: linear-gradient(to right, #159957, #155799);
        border-width: 5px;
        border-image-slice: 1;
        font-weight: 500;
}

.btn {
        background-color: gray;
        border-color: gray;
}

@media screen and (max-width: 1679px) {
        /* .titre_accueil {
                position: relative;
                top: -135%;
                left: -109%;
                display: inline-block;
                flex-wrap: wrap;
                padding: 0;
        }*/
}

@media screen and (max-width: 650px) {
        /*  .titre_accueil {
                position: relative;
                top: -135%;
                left: -9%;
                display: inline-block;
                flex-wrap: wrap;
                padding: 0;
        }*/
        .accueil {
                grid-template-columns: none;
                grid-auto-columns: auto;
                padding: 6rem 0 0 0;
        }
        .titre_accueil {
                align-self: flex-start;
        }
        span.fades {
                font-size: 35px;
                letter-spacing: 0.2rem;
        }
        .sr-only {
                color: #EEEEEE;
                font-weight: 500;
                font-family: 'Roboto', sans-serif;
                font-size: 1.2rem;
        }
        section {
                display: block;
                flex-wrap: wrap;
        }
        p {
                font-size: 0.8em;
                flex-wrap: wrap;
        }
        .logos {
                display: flex;
                align-items: center;
                justify-content: center;
        }
        /*Blog*/
        .illust_photo img {
                display: none;
        }
        .text_photo, .text_peche, .text_jeux {
                width: 100%;
                letter-spacing: 0.02rem;
        }
        section#blog {
                height: auto;
                width: 100%;
        }
        /*Gallerie*/
        #gallerie {
                display: grid;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: 0;
        }
        /* Contact */
        section#contact {
                height: auto;
                width: 100%;
                padding: 40px 0 20px 0;
                margin: 0;
        }
        .form_identite {
                width: 90%;
        }
        .input_name {
                font-family: eb_garamond_sc12_regular;
                width: 100%;
                background: transparent;
                transition: all 0.4s;
                border: 0;
                border-bottom: 2px solid gray;
                font-size: 1rem;
                padding: 7px 0;
                outline: 0;
        }
        .checkbox {
                padding-top: 10px;
        }
        .message {
                padding-top: 10px;
        }
        .zone_texte {
                border-radius: 10px;
                background: transparent;
                border: 2px solid gray;
                width: 100%;
                height: 100px;
                transition: all 0.4s;
        }
        .zone_texte:focus {
                border: 0;
                border-image: linear-gradient(to right, #159957, #155799);
                border-width: 5px;
                border-image-slice: 1;
                font-weight: 500;
        }
        .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                text-align: right;
                padding: 15px 0 0 0;
                transition: transform .2s;
        }
}

