/*CSS Accueil*/

@keyframes bounce-in-top {
        0% {
                -webkit-transform: translateY(-500px);
                transform: translateY(-500px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 0;
        }
        38% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
        }
        55% {
                -webkit-transform: translateY(-65px);
                transform: translateY(-65px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        72% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        81% {
                -webkit-transform: translateY(-28px);
                transform: translateY(-28px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        90% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        95% {
                -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        100% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

@keyframes scale-in-center {
        0% {
                -webkit-transform: scale(0);
                transform: scale(0);
                opacity: 1;
        }
        100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1;
        }
}

@keyframes roll-in-left {
        0% {
                -webkit-transform: translateX(-800px);
                transform: translateX(-800px);
                opacity: 0;
        }
        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
        }
}

@keyframes roll-in-right {
        0% {
                -webkit-transform: translateX(800px);
                transform: translateX(800px);
                opacity: 0;
        }
        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
        }
}

@font-face {
        font-family: 'eb_garamond_sc12_regular';
        src: url('Fonts/ebgaramond/ebgaramondsc12-regular-webfont.woff2') format('woff2'), url('Fonts/ebgaramond/ebgaramondsc12-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: 'abril_fatfaceregular';
        src: url('Fonts/Abrilfatface/abrilfatface-regular-webfont.woff2') format('woff2'),
             url('Fonts/Abrilfatface/abrilfatface-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

::-webkit-scrollbar {
        display: none;
}

* {
        color: #EEEEEE;
        font-family: 'eb_garamond_sc12_regular';
        box-sizing: border-box;
}

::before, ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body {
        background-color: #222831;
        margin: 0;
        padding: 0;
        line-height: 1.25;
        min-height: 100vh;
        position: relative;
}

#nav a {
        z-index: 1;
        text-decoration: none;
        color: white;
        padding: 17px 12px;
        font-weight: 500;
        font-size: 2em;
}


#nav {
        padding: 5px;
        width: 100vw;
}

header {
        display: flex;
        align-self: center;
        padding: 0;
        width: 100vw;
}

#nav .menu {
        list-style-type: none;
        background-color: #222831;
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
}

/*animation images accueil*/
/*
.item1 {
        animation: bounce-in-top 0.6s both;
}

.item2 {
        animation: bounce-in-top 1s both;
}

.item3 {
        animation: bounce-in-top 1.4s both;
}

.item4 {
        animation: bounce-in-top 1.8s both;
}
*/
/*fin animation images accueil*/

li {
        z-index: 1;
        position: relative;
        padding: 0 20px;
        height: 100%;
        display: flex;
}

li::before {
        content: "";
        position: absolute;
        height: 33.33%;
        width: 0;
        background-color: rgba(205, 165, 165);
        right: 0;
        z-index: 0;
        top: 33.33%;
        transition: all 0.5s;
}

li::after {
        content: "";
        position: absolute;
        height: 33.33%;
        width: 0;
        background-color: rgba(205, 165, 165);
        left: 0;
        z-index: 0;
        bottom: 0;
        transition: all 0.5s;
}

a::before {
        position: absolute;
        content: "";
        height: 33.33%;
        width: 0;
        background-color: rgba(205, 165, 165);
        bottom: 66.66%;
        left: 0;
        transition: all 0.5s;
}

li:hover:before, li:hover::after, li:hover a::before {
        width: 100%;
}

/* Animation Texte accueil*/

.container {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
}

.title {
        position: relative;
        animation: scale-in-center 2s both;
}

.title span {
        color: white;
        font-family: abril_fatfaceregular;
        font-size: 120px;
        font-weight: 100;
        transition: 0.5s;
        will-change: transform;
        display: inline-block;
}

.s1 span {
        transform-origin: bottom;
}

.s2 span {
        transform-origin: top;
        transform: translateY(100%) rotateX(-90deg);
}

.s2 {
        position: absolute;
        top: 0;
        left: 0;
}

.title:hover .s1 span {
        transform: translateY(-100%) rotateX(-90deg);
}

.title:hover .s2 span {
        transform: translateY(0%) rotateX(0deg);
}

.footer {
        display: flex;
        position: absolute;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        bottom: 0;
        width: 100%;
        height: 3.5rem;
        padding-bottom: 5px;
        padding-top: 5px;
        transition: transform .2s;
}

.reseaux img:hover {
        cursor: pointer;
        transform: scale(1.1);
        opacity: 0.5;
}

/* CSS Page Blog*/

.bloc_page {
        width: 950px;
        margin: auto;
}

.baniere_description {
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        border-radius: 0px 0px 5px 5px;
        width: 100%;
        height: 33px;
        background-color: rgba(24, 24, 24, 0.8);
        padding: 20px;
        color: white;
        font-size: 1em;
}

.baniere_image {
        height: 219px;
        margin-left: 5px;
        margin-bottom: 25px;
        box-shadow: 0px 4px 4px #1c1a19;
        border-radius: 10px;
        background: url('images/belle_ille.jpg') no-repeat;
        position: relative;
        margin-top: 20px;
        animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.section {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 3.5rem;
        letter-spacing: 0.05em;
}

.article {
        margin-right: 20px;
        flex: 3;
}

.ico_categorie {
        vertical-align: middle;
        margin-right: 5px;
        transition: 0.8s;
}

.ico_categorie:hover {
        cursor: pointer;
        transform: rotate(360deg);
}

/*animation bloc de la page Blog*/

.passion_photo {
        animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.passion_peche {
        animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.passion_jeux {
        animation: scale-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*fin anim bloc de la page blog*/

.aside {
        flex: 1.2;
        background-color: #706b64;
        color: white;
        box-shadow: 0px 2px 5px rgba(205, 165, 165);
        border-radius: 5px;
        font-size: 0.9em;
        padding: 5px;
        ;
        margin-top: 85px;
        position: relative;
        height: 50%;
        animation: scale-in-center 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.bulle {
        position: absolute;
        top: 150px;
        left: -12px;
}

.photo_ibra {
        text-align: center;
}

.photo_ibra img {
        border: 1px solid #181818;
}

.aside h3 {
        text-align: center;
}

.aside img {
        margin-right: 5px;
}

.logos {
        text-align: center;
}

.logos img:hover {
        cursor: pointer;
        transform: scale(1.5);
}

/*CSS Gallerie*/

.gallerie_block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
        margin: 20px;
        transition: 0.5s;
}

.block1 {
        animation: roll-in-left 1s ease-out both;
}

.block2 {
        animation: roll-in-right 1s ease-out both;
}

.photo {
        position: relative;
        padding: 20px;
        margin: 20px;
        overflow: hidden;
}

.photo img {
        filter: grayscale(100%);
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.photo p {
        text-align: center;
}

.photo .infos_hover {
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        text-align: center;
        -webkit-transition: all 0.5s;
        transition: all 0.5s
}

.photo:hover .infos_hover {
        height: 15%;
}

.photo img:hover {
        filter: grayscale(0);
        transform: scale(1.1);
}

@media all and (max-width: 1024px) {
        .bloc_page {
                width: auto;
        }
        nav {
                width: auto;
                text-align: left;
        }
        nav ul {
                display: flex;
                flex-direction: column;
        }
        nav a {
                font-size: 1.3em;
        }
        nav li {
                padding-left: 4px;
        }
        nav a:hover {
                border-bottom: 0;
        }
        section {
                flex-direction: column;
        }
        .baniere_image {
                display: none;
        }
        aside, article {
                width: auto;
                margin-bottom: 15px;
        }
        aside img {
                float: right;
        }
        p {
                font-size: 1.3em;
                flex-wrap: wrap;
        }
        .logos {
                display: flex;
                justify-content: center;
        }
        .bulle {
                display: none;
        }
}