@keyframes bounce-in-top {
        0% {
                -webkit-transform: translateY(-500px);
                transform: translateY(-500px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 0;
        }
        38% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
        }
        55% {
                -webkit-transform: translateY(-65px);
                transform: translateY(-65px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        72% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        81% {
                -webkit-transform: translateY(-28px);
                transform: translateY(-28px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        90% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
        95% {
                -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }
        100% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

@keyframes tracking-in-expand-fwd {
        0% {
                letter-spacing: -0.5em;
                -webkit-transform: translateZ(-700px);
                transform: translateZ(-700px);
                opacity: 0;
        }
        40% {
                opacity: 0.6;
        }
        100% {
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                opacity: 1;
        }
}

@font-face {
        font-family: 'eb_garamondregular';
        src: url('ebgaramond-variablefont_wght-webfont.woff2') format('woff2'), url('ebgaramond-variablefont_wght-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

* {
        box-sizing: border-box;
        color: white;
        margin: 0;
        padding: 0;
}

body {
        background-color: black;
}

.page {
        width: 100%;
        height: 100vh;
        font-family: eb_garamondregular;
        position: relative;
}

.nav a {
        z-index: 1;
        text-decoration: none;
        color: white;
        padding: 17px 12px;
        font-weight: 500;
        font-size: 2em;
}

.nav {
        background: url("images/separateur.png") repeat-x bottom;
        padding-bottom: 10px;
        font-family: eb_garamondregular;
        width: 100vw;
        overflow: auto;
}

.nav .menu {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
}

.item1 {
        animation: bounce-in-top 0.6s both;
}

.item2 {
        animation: bounce-in-top 1s both;
}

.item3 {
        animation: bounce-in-top 1.4s both;
}

.item4 {
        animation: bounce-in-top 1.8s both;
}

li {
        z-index: 1;
        position: relative;
        padding: 0 20px;
        height: 100%;
        display: flex;
}

li::before {
        content: "";
        position: absolute;
        height: 33.33%;
        width: 0;
        background-color: rgba(205, 165, 165);
        right: 0;
        z-index: 0;
        top: 33.33%;
        transition: all 0.5s;
}

li::after {
        content: "";
        position: absolute;
        height: 33.33%;
        width: 0;
        background-color: rgba(205, 165, 165);
        left: 0;
        z-index: 0;
        bottom: 0;
        transition: all 0.5s;
}

a::before {
        position: absolute;
        content: "";
        height: 33.33%;
        width: 0;
        background-color: rgba(205, 165, 165);
        bottom: 66.66%;
        left: 0;
        transition: all 0.5s;
}

li:hover:before, li:hover::after, li:hover a::before {
        width: 100%;
}

.séparateur h1 {
        display: flex;
        text-align: center;
        justify-content: center;
        color: white;
        font-size: 4em;
        animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        margin-top: 30px;
}

.séparateur a {
        text-decoration: none;
        color: white;
}

.carousel {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 150px;
        transition: all 0.5s ease-in-out 0s;
}

.carousel img:hover {
        cursor: pointer;
        transform: rotate(360deg);
        transition: all 0.5s ease-in-out 0s;
}

.carousel .carousel-item1 {
        animation: bounce-in-top 1s both;
}

.carousel .carousel-item2 {
        animation: bounce-in-top 1.4s both;
}

.carousel .carousel-item3 {
        animation: bounce-in-top 1.6s both;
}

.footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        padding: 30px;
        width: 100%;
        transition: transform .2s;
}

.reseaux img:hover {
        cursor: pointer;
        transform: scale(1.5);
}